<footer id="footer" class="outer-block">
    <div class="inner-block">
        <h5 id="breadcrumbs" itemprop="breadcrumb">
            <a href="http://www.firstam.com" target="_blank">First American</a> //
            <a href="/trust/" target="_blank">Trust</a>
        </h5>
    <div id="lower-footer">
        <ul>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-use">Terms of Use</a></li>
        </ul>
        <p>© 2005-<span id="current-year">2016</span> First American Financial Corporation and/or its affiliates.  All rights reserved.</p>
        <p>First American Title Insurance Company makes no express or implied warranty respecting the information presented and assumes no responsibility for errors or omissions.</p>
        <p>First American, the eagle logo, and First American Title are registered trademarks or trademarks of First American Financial Corporation and/or its affiliates.</p>
    </div>
    </div>
</footer>