<ul>
    <li><a href="/">About First American</a></li>
    <li><a href="/careers">Careers</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/investors">Investors</a></li>
</ul>
<h2>{{message}}</h2>